*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

/* GEAR-CAGE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.gear-cage {
  background-color: #000000;
  margin-top: 0px;
  padding-bottom: 48px;
}
.content {
  padding-top: 48px;
  text-align: center;
  margin: 0 auto;
  max-width: 514px;
}
.title-cage {
  color: #c0c0c0;
  font-size: 10px;
  line-height: 1.1;
  margin-bottom: 6px;
}
.subtitle-cage {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.1;
  margin-bottom: 14px;
}
.text-cage {
  color: #ffffff;
  font-size: 12px;
  line-height: 1.1;
  margin-bottom: 20px;
}
.check-it-out {
  font-size: 12px;
  border-radius: 14px;
  color: #000000;
  background-color: #ffffff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  letter-spacing: 0.4px;
  padding: 9px 9px 9px 9px;
  line-height: 1.1;
  font-size: 16px;
}
.title-cage:last-child,
.subtitle-cage:last-child,
.text-cage:last-child {
  margin-bottom: 0;
}
.photo {
  position: relative;
  width: 100%;
}
.icons {
  position: absolute;
  bottom: 10%;
  right: 0;
  display: inline-flex;
  align-content: center;
}

.photo-text {
  padding-right: 20px;
  padding-left: 5px;
  color: #ffffff;
  font-size: 12px;
}
.photo-background {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .gear-cage {
    display: flex;
    flex-direction: row-reverse;
    background-color: #000000;
    margin-top: 0px;
    padding-bottom: 0px;
  }
  .content {
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    width: 100%;
    max-width: 514px;
    color: #ffffff;
  }
  .photo {
    position: relative;
    width: 100%;
  }
  .icons {
    position: absolute;
    bottom: 5%;
    right: 0;
    display: inline-flex;
  }

  .photo-text {
    padding-right: 20px;
    padding-left: 5px;
    color: #ffffff;
    font-size: 12px;
  }
  .photo-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .title-cage {
    color: #c0c0c0;
    font-size: 14px;
    line-height: 1.1;
    margin-bottom: 6px;
  }
  .subtitle-cage {
    color: #ffffff;
    font-size: 24px;
    line-height: 1.1;
    margin-bottom: 14px;
  }
  .text-cage {
    color: #ffffff;
    font-size: 14px;
    line-height: 1.1;
    margin-bottom: 20px;
  }
}
@media (min-width: 1024px) {
  .gear-cage {
    display: flex;
    flex-direction: row-reverse;
    background-color: #000000;
    margin-top: 0px;
    padding-bottom: 0px;
  }
  .content {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    width: 100%;
    max-width: 514px;
    color: #ffffff;
    margin: auto;
  }
  .photo {
    position: relative;
    width: 50%;
  }
  .icons {
    position: absolute;
    bottom: 5%;
    right: 0;
    display: inline-flex;
  }

  .photo-text {
    padding-right: 20px;
    padding-left: 5px;
    color: #ffffff;
    font-size: 12px;
  }
  .photo-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .title-cage {
    color: #c0c0c0;
    font-size: 14px;
    line-height: 1.1;
    margin-bottom: 6px;
  }
  .subtitle-cage {
    color: #ffffff;
    font-size: 28px;
    line-height: 1.1;
    margin-bottom: 14px;
  }
  .text-cage {
    color: #ffffff;
    font-size: 14px;
    line-height: 1.1;
    margin-bottom: 20px;
  }
}

/* container-help*/
.container-help {
  background-color: #000000;
  width: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
  text-align: center;
}
.header-help {
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #ffffff;
  line-height: 1.1;
  vertical-align: top;
  margin-bottom: 15px;
}
.subtitle-help {
  margin-top: 0;
  color: #c0c0c0;
  font-size: 24px;
  line-height: 1.1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
}

.header-help:last-child,
.subtitle-help:last-child,
.get-in-touch:last-child {
  margin-bottom: 0;
}
.google {
  margin-right: 6px;
  margin-left: 4px;
}
/* first mobile*/
.header-help {
  font-size: 24px;
}
.subtitle-help {
  font-size: 16px;
}
.get-in-touch {
  font-size: 12px;
  border-radius: 14px;
  color: #000000;
  background-color: #ffffff;
  display: inline-flex;
  justify-content: center;
  text-decoration: none;
  letter-spacing: 0.4px;
  padding: 9px 9px 9px 9px;
  line-height: 1.1;
  font-size: 16px;
}
.google {
  display: none;
}
@media (min-width: 768px) {
  .header-help {
    font-size: 32px;
  }
  .subtitle-help {
    font-size: 20px;
  }
  .google {
    display: block;
  }
  .get-in-touch {
    border-radius: 14px;
    color: #000000;
    background-color: #ffffff;
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    letter-spacing: 0.4px;
    padding: 9px 9px 9px 9px;
    font-size: 16px;
  }
  .container-help {
    background-color: #000000;
    width: 100%;
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
  }
}
@media (min-width: 1024px) {
  .header-help {
    font-size: 40px;
  }
  .subtitle-help {
    font-size: 24px;
  }
  .container-help {
    background-color: #000000;
    width: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
  }
}
